LinkedInAutomation.json
{
  "name": "LinkedIn Automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -976,
        176
      ],
      "id": "ff2c2716-79fb-4f26-abd2-9b8030241aee",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "operation": "get",
        "documentURL": "https://docs.google.com/document/d/18sAPqFUs8rBjWdflAzVVryLOIBhSlwpBwZCNJv7Db8k/edit?tab=t.0",
        "simple": false
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        -768,
        176
      ],
      "id": "e6c0effa-3f08-4013-aeac-b0c3e2f8d102",
      "name": "Get a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "BpXerkIc5YEgSBQM",
          "name": "Google Docs OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "documentURL": "https://docs.google.com/document/d/1ZUxBF_cj5IbHPM3InpliB-bImk0qVZaWwNWyUrYxJ2E/edit?usp=sharing",
        "actionsUi": {
          "actionFields": [
            {
              "action": "insert",
              "text": "={{ $json.output[0].content[0].text }}"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.googleDocs",
      "typeVersion": 2,
      "position": [
        16,
        352
      ],
      "id": "88f4401b-04bf-4169-b7d1-00a71b1aa521",
      "name": "Update a document",
      "credentials": {
        "googleDocsOAuth2Api": {
          "id": "BpXerkIc5YEgSBQM",
          "name": "Google Docs OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "text": "={{ $json.text }}",
        "shareMediaCategory": "ARTICLE",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.linkedIn",
      "typeVersion": 1,
      "position": [
        0,
        112
      ],
      "id": "e79101db-f4fb-4a57-b91b-2f34b509dfd3",
      "name": "Create a post",
      "credentials": {
        "linkedInOAuth2Api": {
          "id": "VFXX054QkBureRGO",
          "name": "LinkedIn account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Based on the following content about AIO Strategy, create a compelling LinkedIn post. Start with a hook, include key insights, and end with relevant hashtags. Do not use ** or // formatting. Add emojis where appropriate but don't overdo it.\n\nContent: {{ $json.content }}",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        -512,
        176
      ],
      "id": "625b13ae-ea29-4efc-925b-0f721b1a8946",
      "name": "Basic LLM Chain"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1.1,
      "position": [
        -512,
        384
      ],
      "id": "c38d4876-9b53-421c-afbb-83c4a5582189",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "mPoRHoRMhaCSkWhm",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Get a document",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get a document": {
      "main": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Basic LLM Chain",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Basic LLM Chain": {
      "main": [
        [
          {
            "node": "Update a document",
            "type": "main",
            "index": 0
          },
          {
            "node": "Create a post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "42b5f7e9-cc46-4aa7-ad28-6aaa4f2fb144",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "53f75d45acc384e2fc73dc41ec81238b8c0f40a9f721c0444cf58597c8619ead"
  },
  "nodeGroups": [],
  "id": "faYsrQrpnGnvhexJ",
  "tags": []
}